<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/fonts/icomoon/style.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">
    <!-- <link rel="icon" href="favicon.png" type="image/png"> -->
    <meta name="description" content="Картридж Profit Print CE278A совместимый с HP CE278A в интернет-магазине Profitprint.com.ua. Тел. +380 (44) 537-36-90. Картриджи наш профиль, так что цена Вас приятно порадует, а доставка сэкономит Ваше время">
    <meta name="keywords" content="Картридж Profit Print CE278A совместимый с HP CE278A. Купить картридж HP CE278A в Киеве. Цена, описание, отзывы, консультрация, продажа | Profitprint.com.ua">
  </head>
  <body>
    <div class="document">
      {% include header.html %}
      {% include modal.html %}
      {{ content }}
      <div class="footer-padding"></div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>
