---
layout: default
title: Товары
---

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					{% include product.html %}
				</div>


				<div class="col-md-4">
					{% include product.html %}
				</div>


				<div class="col-md-4">
					{% include product.html %}
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-4">
					{% include product.html %}
				</div>


				<div class="col-md-4">
					{% include product.html %}
				</div>


				<div class="col-md-4">
					{% include product.html %}
				</div>
			</div>
			<ul class="pagination pagination-lg hidden-xs">
				<li><a href="#">«</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">»</a></li>
			</ul>
			<ul class="pager visible-xs">
				<li><a href="#">Previous</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
	</div>
</div>
