<br>
<div class="container">
	<div class="row">		
		<div class="col-md-6 col-lg-5">
			<div class="media">
				<div class="media-object pull-left">
					<a href="index.html"><img src="img/logo.gif"></a>
				</div>
				<div class="media-body slogan">
					Картреджи для лазерных принтеров и МФУ<br>
					Доставка, гарантия. profitprint.com.ua
				</div>
			</div>
			<br class="visible-xs">
			<br class="visible-sm">
		</div>
		<div class="col-md-3">
			<div class="input-group">
				<input type="text" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="icon-search"></i></button>
				</span>
			</div>
			<h6 class="text-muted">Например: <a href="">LG F1089ND</a></h6>
		</div>
		<div class="col-md-3 col-lg-offset-1">
			<div class="media nodecore header-cart">				
				<a href="cart.html"><i class="icon-cart-2 pull-left icon-cart-size"></i></a>
				<div class="media-body">
					<div class="media-heading cart-margin header-cart-count">
						В корзине <span class="text-info">4</span> товара
					</div>
					<div class="cart-margin header-cart-price">
						На <span class="text-info">9000</span> грн.
					</div>
				</div>
			</div>
			<div class="media nodecore header-cart-empty hide">				
				<a href="cart.html"><i class="icon-cart-2 pull-left icon-cart-size"></i></a>
				<div class="media-body">
					<div class="media-heading cart-margin header-cart-count">
						Ваша корзина пуста
					</div>					
				</div>
			</div>
		</div>
	</div>
	<hr class="hrhead">
	<ul class="nav nav-pills nav-pozition hidden-xs">
		<li><a href="index.html">Главная</a></li>
		<li><a href="faq.html">Как оформить заказ</a></li>
		<li><a href="info-cartidge.html">О картриджах Profitprint</a></li>
		<li><a href="contacts.html">Контакты</a></li>
		<ul class="pull-right nav nav-pills">
			<li><a data-toggle="modal" href="#auth" >Вход / Регистрация</a></li>
		</ul>				
	</ul>

	<ul class="nav nav-pills nav-stacked visible-xs">
		<li><a href="index.html">Главная</a></li>
		<li><a href="faq.html">Как оформить заказ</a></li>
		<li><a href="info-cartidge.html">О картриджах Profitprint</a></li>
		<li><a href="contacts.html">Контакты</a></li>
		<ul class="nav-stacked nav nav-pills">
			<li><a data-toggle="modal" href="#auth" >Вход / Регистрация</a></li>
		</ul>
	</ul>
	<hr class="hrhead">
</div>