<div class="hidden-xs">
	<h4>Похожие товары</h4>
	<hr>
	<div class="fotorama featured-items nodecore" data-width="100%" data-height="190" data-nav="false">
		<div class="row nowrap">
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://profitprint.com.ua/static/img/item/CE255X.jpg">
					1369.09 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CB436A совместимый с HP CB436A</strong>
					<img class="" src="http://profitprint.com.ua/static/img/item/CB436A.jpg">
					440 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE285A совместимый с HP CE285A</strong>
					<img class="" src="http://profitprint.com.ua/static/img/item/CE285A.jpg">
					431.47 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE505A совместимый с HP CE505A</strong>
					<img class="" src="http://profitprint.com.ua/static/img/item/CE505A.jpg">
					540.76 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE278A совместимый с HP CE278A</strong>
					<img class="" src="http://profitprint.com.ua/static/img/item/CE255X.jpg">
					483.18 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print Q2612A совместимый с HP Q2612A</strong>
					<img class="" src="http://profitprint.com.ua/static/img/item/Q2612A.jpg">
					342.03 грн.
				</a>
			</div>
		</div>
		<div class="row nowrap">
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
		</div>
		<div class="row nowrap">
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="item.html" class="thumbnail text-center">
					<strong>Profit Print CE255X</strong>
					<img class="" src="http://placehold.it/140x120">
					123 грн.
				</a>
			</div>
		</div>
	</div>
</div>
