<div class="thumbnail item-card" rel="href" data-href="item.html">
	<div class="caption main-item-name">
		<h4><a href="/item/MLT-D103L">Картридж Profit Print MLT-D103L Картридж Profit Print MLT-D103L</a></h4>
		<hr class="nomargin">
		<div class="media">
			<a class="pull-left" href="#">
				<img class="thumbnail" src="http://placehold.it/140x120">
			</a>
			<div class="media-body">
				<ul class="list-unstyled size-font list-icon">
					<li>
						<i class="icon-qrcode"></i> <span class="product-name">PPMLT-D103L</span>
					</li>
					<li>
						<i class="icon-print"></i> Samsung
					</li>
					<li>
						<i class="icon-contrast"></i> Black
					</li>
					<li>
						<i class="icon-file"></i> 2500 страниц
					</li>
				</ul>
			</div>
		</div>
		<div class="compatibility">
			<strong>Совместимость:</strong> HP LJ Enterprise 600 602dn, 602n, 602x, 603dn, 603n, 603xh, M4555, M4555f, M4555fskm, M4555h
			HP LJ Enterprise 600 602dn, 602n, 602x, 603dn, 603n, 603xh, M4555, M4555f, M4555fskm, M4555h
			HP LJ Enterprise 600 602dn, 602n, 602x, 603dn, 603n, 603xh, M4555, M4555f, M4555fskm, M4555h
			HP LJ Enterprise 600 602dn, 602n, 602x, 603dn, 603n, 603xh, M4555, M4555f, M4555fskm, M4555h
		</div>
		<hr class="nomargin">

		<div class="row">
			<div class="col-md-3">
				<button data-toggle="modal" data-target="#purchase" class="btn btn-primary pull-left">Купить</button>
			</div>
			<div class="col-md-9">
				<div class="count">
					<strong class="text-success">4444.93 грн.</strong>
				</div>
				<div class="old-count">
					<span class="text-danger"> 555.93 грн.</span>
				</div>
			</div>
		</div>
		
	</div>
</div>