<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/spinner.js"></script>
<script src="/js/vendor/wizard.js"></script>
<script src="/js/vendor/spinner.js"></script>
<script src="/js/vendor/jquery.dotdotdot.min.js"></script>
<script src="/js/vendor/favico-0.2.0.min.js"></script>
<link  href="/js/vendor/fotorama/fotorama.css" rel="stylesheet">
<script src="/js/vendor/fotorama/fotorama.js"></script>
<script src="/js/main.js"></script>